<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../utilities.css">
  <link rel="stylesheet" href="../styles.css">
  <title>Write New Blog</title>
</head>

<body>
  <div id="post_form">
    <h1>Add New Post</h1>
    <form action="/add_post" method="post">
      <input type="text" name="name" id="author_name" placeholder="Author Name">
      <input type="text" name="title" id="post_title" , placeholder="Title">
      <input type="text" name="imgUrl" id="post_image_url" , placeholder="Image URL">
      <textarea name="description" id="description" rows="20" , placeholder="Description"></textarea>
      <button type="submit" class="btn">Submit</button>

    </form>
    <a href="/logout"><button class="btn extra">Logout</button></a>
  </div>
</body>

</html>