<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />


  <link rel="stylesheet" href="utilities.css">
  <!-- If I've to override from utlities.css then I'll do that in style.css -->
  <link rel="stylesheet" href="styles.css">
  <title>Welcome to Arts of Finance</title>
</head>

<body id="home">
  <header class="hero">
    <div id="navbar" class="navbar top">
      <h1 class="logo">
        <span class="text-primary"><i class="fas fa-book-open"></i>Arts</span> of Finance
      </h1>
      <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#cases">Cases</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>

    <div class="content">
      <h1>The Sky Is The Limit</h1>
      <p>We provide world class financial assistance</p>
      <a href="#about" class="btn"><i class="fas fa-chevron-right"></i>Read More</a>
    </div>
  </header>
  <main>
    <section class="icons" id="about">
      <!-- About: icons -->
      <div class="flex-items">
        <div>
          <i class="fas fa-university fa-2x"></i>
          <div>
            <h3>Investment Banking</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, modi.</p>
          </div>
        </div>
        <div>
          <i class="fas fa-book-reader fa-2x"></i>
          <div>
            <h3>Portfolio Manager</h3>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, commodi!</p>
        </div>
        <div>
          <i class="fas fa-pencil-alt fa-2x"></i>
          <div>
            <h3>Tax & Costodio</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, debitis.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- About: Solutions -->
    <section class="solutions flex-columns">
      <div class="row">
        <div class="column">
          <div class="column-1">
            <img src="https://source.unsplash.com/rxpThOwuVgE/900x600" alt="People">
          </div>
        </div>
        <div class="column">
          <div class="column-2 bg-primary">
            <h4>What are you looking for</h4>
            <h2>We provide bespoke solutions</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam veritatis magnam nihil distinctio
              perspiciatis odit quis repudiandae, sequi maiores quibusdam, perferendis impedit mollitia suscipit omnis
              quidem voluptatum molestias saepe sunt.</p>
            <a href="#" class="btn btn-outline">
              <i class="fas fa-chevron"></i>
              Read More
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- cases -->
    <section id="cases" class="cases flex-grid section-padding">
      <header class="section-header">
        <h4>This is what we do.</h4>
        <h2>Business Cases</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, sunt.</p>
      </header>

      <div class="row">
        <div class="column">
          <img src="images/cases/cases1.jpg" alt="">
          <img src="images/cases/cases2.jpg" alt="">
        </div>
        <div class="column">
          <img src="images/cases/cases3.jpg" alt="">
          <img src="images/cases/cases4.jpg" alt="">
        </div>
        <div class="column">
          <img src="images/cases/cases5.jpg" alt="">
          <img src="images/cases/cases6.jpg" alt="">
        </div>
        <div class="column">
          <img src="images/cases/cases7.jpg" alt="">
          <img src="images/cases/cases8.jpg" alt="">
        </div>
      </div>
    </section>

    <!-- Blog -->
    <section id="blog" class="blog flex-columns flex-reverse">
      <div class="row">
        <div class="column">
          <div class="column-1">
            <img src="images/home/blog.jpg" alt="People">
          </div>
        </div>
        <div class="column">
          <div class="column-2 bg-secondary">
            <h4>April 01, 2021</h4>
            <h2>Blog Post 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam veritatis magnam nihil distinctio
              perspiciatis odit quis repudiandae, sequi maiores quibusdam, perferendis impedit mollitia suscipit omnis
              quidem voluptatum molestias saepe sunt.</p>
            <a href="blog" class="btn btn-outline">
              <i class="fas fa-chevron"></i>
              Read Our Blog
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Team -->
    <section id="team" class="team section-padding">
      <header class="section-header">
        <h4>Who we are.</h4>
        <h2>Our professional team</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, sunt.</p>
      </header>

      <div class="flex-items">
        <div>
          <img src="https://pbs.twimg.com/profile_images/1269919654790737920/srXuWiN1_400x400.jpg" alt="">
          <h4>Saurav Gupta</h4>
          <p>President</p>
        </div>
        <div>
          <img src="https://pbs.twimg.com/profile_images/1205581065378615296/gmEm9_64_400x400.jpg" alt="">
          <h4>Shailesh Gupta</h4>
          <p>Vice President</p>
        </div>
        <div>
          <img src="https://pbs.twimg.com/profile_images/1362867114239954945/_VrQkPpS_400x400.jpg" alt="">
          <h4>Pranav Priyanshu</h4>
          <p>Marketing Head</p>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="contact flex-columns">
      <div class="row">
        <div class="column">
          <div class="column-1">
            <img src="images/home/contact.jpg" alt="Contact">
          </div>
        </div>
        <div class="column">
          <div class="column-2  bg-light">
            <h2>Request Callback</h2>

            <form action="/request_call" class="callback-form" method="post">
              <div class="form-control">
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Enter Full Name">
              </div>
              <div class="form-control">
                <label for="email"></label>
                <input type="email" name="email" id="email" placeholder="Enter Your Email">
              </div>
              <div class="form-control">
                <label for="phone"></label>
                <input type="phone" name="phone" id="phone" placeholder="Enter Phone Number">
              </div>
              <button type="submit" class="form_request_btn">Submit</button>
              <% message.forEach(element=> { %>
                <p style="color: #28a745;">
                  <%=element['msg']%>
                </p>
                <% }); %>
            </form>

          </div>
        </div>
      </div>
    </section>
  </main>

  <div class="footer bg-dark">
    <div class="social">
      <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
      <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
      <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
      <a href="#"><i class="fab fa-google fa-2x"></i></a>
    </div>
    <p>Copyright &copy; 2021 Art of Finance</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

  <script src="scripts.js"></script>

</body>

</html>